Ans = 1

In [1]:
marks = 90
if marks >=90:
    print("you will get grade A")
elif marks >=80 and marks <90 :
    print("you will get grade B")
elif marks >= 60 and marks <80:
    print("you will get grade C")
else :
    print("you will get D grade")

you will get grade A

In [2]:
marks = 81
if marks >=90:
    print("you will get grade A")
elif marks >=80 and marks <90 :
    print("you will get grade B")
elif marks >= 60 and marks <80:
    print("you will get grade C")
else :
    print("you will get D grade")

you will get grade B

In [3]:
marks = 75
if marks >=90:
    print("you will get grade A")
elif marks >=80 and marks <90 :
    print("you will get grade B")
elif marks >= 60 and marks <80:
    print("you will get grade C")
else :
    print("you will get D grade")

you will get grade C

In [4]:
marks = int(input("enter your marks"))
if marks >=90:
    print("you will get grade A")
elif marks >=80 and marks <90 :
    print("you will get grade B")
elif marks >= 60 and marks <80:
    print("you will get grade c")
else :
    print("you will get D grade")

enter your marks 56

you will get D grade

Ans = 2

In [5]:
price = 110000
if price >=100000:
    print("tax will be 15%")
elif price >=50000 and price <100000:
    print("tax will be 10%")
else :
    print("tax will be 5%")

tax will be 15%

In [7]:
price = 55000
if price >=100000:
    print("tax will be 15%")
elif price >=50000 and price <100000:
    print("tax will be 10%")
else :
    print("tax will be 5%")

tax will be 10%

In [8]:
price = int(input("enter price"))
if price >=100000:
    print("tax will be 15%")
elif price >=50000 and price <100000:
    print("tax will be 10%")
else :
    print("tax will be 5%")

enter price 2000

tax will be 5%

In [ ]:
Ans 3

In [10]:
city = input("input the city name")
if city == "Delhi":
    print("Red Fort")

input the city name Delhi

Red Fort

In [11]:
city = "Agra"
if city == "Agra":
    print("Taj Mahal")

Taj Mahal

In [12]:
city = "Jaipur"
if city == "Jaipur":
    print("Jal Mahal")

Jal Mahal

In [15]:
# ANS 4

In [13]:
num1 = int(input("enter number"))
if(num1%3==0):
    print("{} is divisble by  3 ".format(num1))
else:
    print("{} is not divisble by 3 ".format(num1))

enter number 0

0 is divisble by  3

In [14]:
num1 = int(input("enter number"))
if(num1%3==0):
    print("{} is divisble by  3 ".format(num1))
else:
    print("{} is not divisble by 3 ".format(num1))

enter number 1

1 is not divisble by 3

In [17]:
num1 = int(input("enter number"))
if(num1%3==0):
    print("{} is divisble by  3 ".format(num1))
else:
    print("{} is not divisble by 3 ".format(num1))

enter number 4

4 is not divisble by 3

In [18]:
num1 = int(input("enter number"))
if(num1%3==0):
    print("{} is divisble by  3 ".format(num1))
else:
    print("{} is not divisble by 3 ".format(num1))

enter number 7

7 is not divisble by 3

In [19]:
num1 = int(input("enter number"))
if(num1%3==0):
    print("{} is divisble by  3 ".format(num1))
else:
    print("{} is not divisble by 3 ".format(num1))

enter number 9

9 is divisble by  3

In [20]:
num1 = int(input("enter number"))
if(num1%3==0):
    print("{} is divisble by  3 ".format(num1))
else:
    print("{} is not divisble by 3 ".format(num1))

enter number 10

10 is not divisble by 3

In [21]:
# ANS 5

Python while loop is used to run a code until a certain condition is met.
1- A while loop evaluates the condition
2- If the condition evaluates to True , the code inside the while loop is executed
3- Condition is evaluated again
4- This process continues until the condition is Flase
5- When condition evaluates to False , the loop stops

In [23]:
i = 1
n = 5

In [24]:
while i <= n:
    print(i)
    i = i+1

1
2
3
4
5

In [25]:
#example

In [1]:
counter = 0

In [2]:
while counter < 3 :
    print ('inside loop')
    counter = counter + 1
else :
    print('inside else')

inside loop
inside loop
inside loop
inside else

ANS-6

In [1]:
i = 1
while i <5:
    j = 1
    while j <5:
        print(j)
        j= j+1
    i = i+1

1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4

In [7]:
i=1
while i <=5:
    j = 1
    while j <=i:
        print('*',end ='')
        j = j+1
    print()
    i = i+1

*
**
***
****
*****

In [9]:
i=1
while i <=5:
    j = 1
    while j <=i:
        print('i',end ='')
        j = j+1
    print()
    i = i+1

i
ii
iii
iiii
iiiii

In [11]:
for i in range(1,6):
    for j in range(i,6):
        print(i,end='')
    print()

11111
2222
333
44
5

In [12]:
for i in range(1,6):
    for j in range(i,6):
        print(j,end='')
    print()

12345
2345
345
45
5

ANS-7

In [17]:
i = 10
while i >=1:
    print(i,end=' ')
    i -=1

10 9 8 7 6 5 4 3 2 1

ANS-8

In [19]:
i = 10
while i>0:
    print(i)
    i= i-1

10
9
8
7
6
5
4
3
2
1